.user-profile {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-button {
    background-color: var(--button-accent);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    font-size: 20px;
    color: var(--header-link-hover);
    text-align: center;
    padding: 5px;
}

.additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.bookmarked-stories,
.created-stories {
    margin-top: 20px;
    text-align: justify;
}

.bookmarked-stories h2,
.created-stories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
