@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin: 0;
    font-family: 'Chewy', cursive, sans-serif;
}

.user-profile {
    background-color: #d1c5c5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-button {
    background-color: #e89d75;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.bookmarked-stories,
.created-stories {
    margin-top: 20px;
    text-align: justify;
}

.bookmarked-stories h2,
.created-stories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
