@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    margin: 0;
    font-family: 'Chewy', cursive, sans-serif;
}

.mythweaver {
  text-align: center;
  background-color: #d3c9c6;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2b18a;
  padding: 10px 20px;
}

.header-left, .header-right {
  display: flex;
  gap: 10px;
}

.header-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.title {
  font-size: 36px;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust based on header height */
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.story {
  background-color: #f0ad4e;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
}

.story-1 { background-color: #f0ad4e; }
.story-2 { background-color: #c95f7e; }
.story-3 { background-color: #8c8a77; }
.story-4 { background-color: #816aa6; }
.story-5 { background-color: #dff0f8; }
.story-6 { background-color: #dda15e; }
.story-7 { background-color: #8b5e3c; }
.story-8 { background-color: #edb08b; }

@keyframes heartbeat {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}